<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wangxingxing.widget">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".lsn11.PropertyAnimActivity"
            android:label="@string/title_property_anim"></activity>
        <activity
            android:name=".lsn10.RecyclerMenuActivity"
            android:label="@string/title_recycler_menu" />
        <activity
            android:name=".lsn10.RecyclerDelActivity"
            android:label="@string/title_recycler_del" />
        <activity
            android:name=".lsn10.ConActivity"
            android:label="@string/title_scroll_conflict" />
        <activity
            android:name=".lsn8.notch.NotchActivity"
            android:label="@string/title_notch" />
        <activity
            android:name=".lsn8.density.DensityActivity"
            android:label="@string/title_density" />
        <activity
            android:name=".lsn8.percent.PercentActivity"
            android:label="@string/title_percent" />
        <activity
            android:name=".lsn8.pixel.PixelActivity"
            android:label="@string/title_pixel" />
        <activity
            android:name=".lsn8.ScreenAdapterActivity"
            android:label="@string/title_screen_adapter" />
        <activity
            android:name=".lsn7.LoadingActivity"
            android:label="@string/title_loading_view" />
        <activity
            android:name=".lsn6.DragBubbleActivity"
            android:label="@string/title_qq_drag_bubble" />
        <activity
            android:name=".lsn6.BezierActivity"
            android:label="@string/title_bezier" />
        <activity
            android:name=".lsn6.PathActivity"
            android:label="@string/title_path" />
        <activity
            android:name=".lsn5.ScrollActivity"
            android:label="@string/title_scroll" />
        <activity
            android:name=".lsn4.LayerActivity"
            android:label="@string/title_layer" />
        <activity
            android:name=".lsn4.WatchViewActivity"
            android:label="@string/title_wathch" />
        <activity
            android:name=".lsn3.GradientActivity"
            android:label="@string/title_gradient_mode" />
        <activity
            android:name=".lsn3.xfermode.XfermodeSRCActivity"
            android:label="@string/title_xfermode_src" />
        <activity
            android:name=".lsn3.xfermode.XfermodeDTSActivity"
            android:label="@string/title_xfermode_dts" />
        <activity
            android:name=".lsn3.xfermode.XfermodeActivity"
            android:label="@string/title_xfermode" />
        <activity
            android:name=".lsn3.FilterActivity"
            android:label="@string/title_filter" />
        <activity
            android:name=".lsn3.ZoomImageActivity"
            android:label="@string/title_zoom" />
        <activity
            android:name=".lsn3.RadarScanActivity"
            android:label="@string/title_radar_scan" />
        <activity
            android:name=".lsn3.MarqueeActivity"
            android:label="@string/title_text_marquee" />
        <activity
            android:name=".lsn2.WaterfallFlowLayoutActivity"
            android:label="@string/title_waterfall_flow_layout" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>