<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wangxingxing.widget">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".lsn3.FilterActivity"
            android:label="@string/title_filter"></activity>
        <activity
            android:name=".lsn3.ZoomImageActivity"
            android:label="@string/title_zoom" />
        <activity
            android:name=".lsn3.RadarScanActivity"
            android:label="@string/title_radar_scan" />
        <activity
            android:name=".lsn3.MarqueeActivity"
            android:label="@string/title_text_marquee" />
        <activity
            android:name=".lsn2.WaterfallFlowLayoutActivity"
            android:label="@string/title_waterfall_flow_layout" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>